.adminpanel {
    padding: 10px;
    background-color: white;

    position: relative;
    height: 85px;
}

.teamsbutton {
    position: absolute;
    height: 85px;
    width: 120px;
    background-color: orange;

    right: 0px;
    top: 0px;

    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
}

.teamsbutton:hover {
    box-shadow: 0px 0px 25px orange;
}

.teamsbutton-centercontainer {
    line-height: 85px;
}